<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
     <h2>Post</h2>
      <ul class="list-group">
        <app-post-list-component *ngFor="let post of posts"
                                  [posttitle]="post.title"
                                  [postcontent]="post.content"
                                  [postloveit]="post.loveIts"
                                  [postcreate_at]="post.created_at"></app-post-list-component>
      </ul>
    </div>
  </div>
</div>

