<li class="list-group-item" [ngClass]="{'list-group-item-danger': isLessThan(),'list-group-item-success': isMoreThan()}">
 <div class="row">
   <div class="col-md-7 col-sm-7 col-xs-7">
     <h4>{{ posttitle }}</h4>
   </div>
   <div class="col-md-5 float-right">
     {{ postcreate_at | date : 'yyyy-MM-dd' }}
   </div>
   <span class="clearfix"></span>
 </div>
  <p>
    {{postcontent}}
  </p>
<div class="row">
  <button class="btn btn-success ml-2" (click)="onLoveIt()">Love it</button>
  <button class="btn btn-danger ml-1" (click)="onDontLoveIt()">Don't love it</button>
</div>
</li>
